.hero {
  height: 480px;
  width: 100%;
  padding-top: 80px;
}

.articles-list {
  display: grid;
  grid-template-columns: minmax(40px, 1fr) minmax(300px, 900px) minmax(40px, 1fr);

  &__container {
    grid-column: 2 / 3;
  }
}