@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@font-face {
  font-family: 'SF Compact';
  src: url('../fonts/SF-Compact-Text-Regular.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'SF Compact', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;

}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  justify-content: center;
  height: 480px;
  width: 100%;
  padding-top: 80px;

  &__header {
    font-family: 'Lexend Deca', sans-serif;
    font-size: calc(7rem + (12 * (100vw - 1440px)) / 1119);
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 5rem;
  }

  &__subheader {
    margin-top: 30px;
    font-size: 2.1rem;
    font-family: 'Inconsolata', monospace;
    white-space: pre;
  }
}

.articles-list {
  display: grid;
  grid-template-columns: minmax(40px, 1fr) minmax(280px, 870px) minmax(40px, 1fr);
  width: 100%;

  &__container {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}