.article {
  width: 100%;
  // height: 100px;
  padding: 75px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #e1e1e1;
  }

  &__title {
    display: flex;
    position: relative;

    &--index {
      width: 40px;
      position: absolute;
      // margin-left: -50px;
      left: -40px;
      font-size: 1.2rem;
      color: #a7a7a7;

      @media only screen and (max-width: 965px) {
        top: -40px;
        left: 50%;
      }

      div {
        line-height: calc(3rem + (12 * (100vw - 1440px)) / 1119);
      }

    }

    &--header {
      display: block;
      font-weight: 500;
      font-size: calc(2.25rem + (12 * (100vw - 1440px)) / 1119);      
    }
  }

  &__description {
    margin-top: 15px;
    display: flex;

    @media only screen and (max-width: 965px) {
      flex-direction: column;
    }

    &--image {
      img {
        width: 270px;
        height: 200px;
        object-fit: cover;
        object-position: top;
        @media only screen and (max-width: 965px) {
          width: 100%
        }
      }
    }

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 200px;
      overflow: hidden;
      font-size: calc(1.1rem + (2 * (100vw - 1440px)) / 1119);
      margin-left: 30px;
      font-weight: 200;
      @media only screen and (max-width: 965px) {
        margin-left: 0;
        margin-top: 25px;
        height: min-content;
      }

      &-link {
        a {
          text-decoration: none;
          color: #1b5dea;
          width: min-content;

          &:after {
            width: 57px;
            display: block;
            content: '';
            border-bottom: solid 1px #1b5dea;  
            transform: scaleX(0);  
            transition: transform 200ms ease-in-out;
          }

          &:hover:after { 
            transform: scaleX(1); 
          }

        }
      }
    }
  }
}

.no-image {
  width: 270px;
  height: 200px;
  background-color: #eee;

  @media only screen and (max-width: 965px) {
    width: 100%
  }
}