.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 6px -6px rgba(34, 2, 0, 0);
  border-bottom: 1px solid transparent;
  transition: all .5s ease;

  @media only screen and (max-width: 850px) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    height: 80px;
  }


  &__filter {
    display: flex;
    align-items: center;
    padding: 0 50px;

    &--dark {
      cursor: pointer;
      transform: translateY(1px);
      transition: transform .1s ease;
      margin-right: 15px;

      &:hover {
        transform: translateY(-1px);
      }
      &:active {
        transform: translateY(1px);
      }
    }

    &--btn {
      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        border: 1px solid #99c8ef;
        background-color: #99c8ef;
        color: #fff;
      }
    }
  }

  &__search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 50px;
    form {
      input {        
        transition: border .1s ease;
        
        &:last-child {
          margin-right: 10px;
        }

        &:focus {
          border: 1.5px solid #99c8ef;
          outline-offset: 0;
          outline: none !important;
        }
      }
    }
  }
}

.scroll-border {
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0 2px 6px -6px rgba(34, 2, 0, 1);
}