@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.light {
  background-color: #fff;
  color: #010101; }

.dark {
  background-color: #0b0d0f;
  color: #f3f1eb; }

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  justify-content: center;
  height: 480px;
  width: 100%;
  padding-top: 80px; }
  .hero__header {
    font-family: 'Lexend Deca', sans-serif;
    font-size: calc(7rem + (12 * (100vw - 1440px)) / 1119);
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 5rem; }
  .hero__subheader {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    white-space: pre; }

.articles-list {
  display: grid;
  grid-template-columns: minmax(40px, 1fr) minmax(300px, 870px) minmax(40px, 1fr); }
  .articles-list__container {
    grid-column: 2 / 3; }

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 6px -6px rgba(34, 2, 0, 0);
  border-bottom: 1px solid transparent;
  transition: all .5s ease; }
  .navbar__filter {
    display: flex;
    align-items: center;
    padding: 0 50px; }
    .navbar__filter--dark {
      cursor: pointer;
      transform: translateY(1px);
      transition: transform .1s ease;
      margin-right: 15px; }
      .navbar__filter--dark:hover {
        transform: translateY(-1px); }
      .navbar__filter--dark:active {
        transform: translateY(1px); }
    .navbar__filter--btn {
      font-size: .8rem;
      font-weight: 500;
      border: 1px solid #e1e1e1;
      padding: 7px 18px;
      border-radius: 4px;
      color: #a7a7a7;
      cursor: pointer;
      margin-right: 10px;
      transition: all .2s ease;
      font-weight: 600; }
      .navbar__filter--btn:hover {
        border: 1px solid #99c8ef;
        background-color: #99c8ef;
        color: #fff; }
  .navbar__search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 50px; }
    .navbar__search form input {
      font-size: .8rem;
      border-radius: 4px;
      padding: 7px 18px;
      background-color: #fff;
      border: 1px solid #e1e1e1;
      margin-left: 10px;
      transition: border .1s ease; }
      .navbar__search form input:focus {
        border: 1.5px solid #99c8ef;
        outline-offset: 0;
        outline: none !important; }

.scroll-border {
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0 2px 6px -6px #220200; }

.article {
  width: 100%;
  padding: 75px 0; }
  .article:not(:last-child) {
    border-bottom: 1px solid #e1e1e1; }
  .article__title {
    display: flex;
    position: relative; }
    .article__title--index {
      width: 40px;
      position: absolute;
      left: -40px;
      font-size: 1.2rem;
      color: #a7a7a7; }
      @media only screen and (max-width: 965px) {
        .article__title--index {
          top: -40px;
          left: 50%; } }
      .article__title--index div {
        line-height: calc(3rem + (12 * (100vw - 1440px)) / 1119); }
    .article__title--header {
      display: block;
      font-weight: 500;
      font-size: calc(2.25rem + (12 * (100vw - 1440px)) / 1119); }
  .article__description {
    margin-top: 15px;
    display: flex; }
    @media only screen and (max-width: 965px) {
      .article__description {
        flex-direction: column; } }
    .article__description--image img {
      width: 270px;
      height: 200px;
      object-fit: cover;
      object-position: top; }
      @media only screen and (max-width: 965px) {
        .article__description--image img {
          width: 100%; } }
    .article__description--content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 200px;
      overflow: hidden;
      font-size: calc(1.1rem + (2 * (100vw - 1440px)) / 1119);
      margin-left: 30px;
      font-weight: 200; }
      @media only screen and (max-width: 965px) {
        .article__description--content {
          margin-left: 0;
          margin-top: 25px;
          height: min-content; } }
      .article__description--content-link a {
        text-decoration: none;
        color: #1b5dea;
        width: min-content; }
        .article__description--content-link a:after {
          width: 57px;
          display: block;
          content: '';
          border-bottom: solid 1px #1b5dea;
          transform: scaleX(0);
          transition: transform 200ms ease-in-out; }
        .article__description--content-link a:hover:after {
          transform: scaleX(1); }

.no-image {
  width: 270px;
  height: 200px;
  background-color: #eee; }
  @media only screen and (max-width: 965px) {
    .no-image {
      width: 100%; } }
